{% extends "equipment/base.html" %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Войти</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password.errors }}
        </div>

        <div class="container">
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{% url 'register' %}" class="btn btn-primary">Зарегистрироваться</a>
        </div>
        <div class="row justify-content-center pt-3 ">
            <a href="{% url 'password_reset' %}" class="ms-3">Забыли пароль?</a>
        </div>


    </form>

</div>
{% endblock %}
