{# templates/equipment/my_requests.html #}
{% extends "equipment/base.html" %}
{% load static %}

{% block title %}My Approved Requests{% endblock %}

{% block content %}
{% if requests %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Оборудование</th>
                    <th>Сроки использования</th>
                    <th>Статус</th>
                    <th>Дата заявки</th>
                    <th> --- </th>
                </tr>
            </thead>
            <tbody>
                {% for req in requests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ req.equipment.name }}</td>
                    <td>{{ req.start_date }} – {{ req.end_date }}</td>
                    <td class="text-muted">{{ req.get_status_display }}</td>
                    <td>{{ req.created_at|date:"d.m.Y H:i" }}</td>
                     <td>
                         {% if req.Status.APPROVED %}
                             <a href="{% url 'EquipSense:return_request' req.pk %}"
                               class="btn btn-sm btn-primary">Вернуть</a>
                         {% else %}
                            Returned
                         {% endif %}
                     </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Вы ещё не делали заявок.</p>
    {% endif %}
{% endblock %}
